* {
    margin: 0;
    padding: 0;
  }
  
  html {
    overflow-x: hidden;
  }
  
  body {
    /* Background pattern from Subtle Patterns */
    background: url("./img/mars.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; /* 背景画像を固定する */
    font-family: "Open Sans", sans-serif;
    /* one Em roughly ten pixels (16 x 62.5% = 10) */
    font-size: 60%;
    margin: 0;
    text-align: center;
    color: white;
  }
  .inst-top{
    font-size: 30px;
    right: 20px;
    top: 20px;
    position: fixed;
  }

  .inst-top h3{
    font-size: 30px;
    font-weight: bolder;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    padding-bottom: 0px;
    position: fixed;
    right:40px;
    top: 20px;
    cursor: pointer;
  }


  h3{
    color: rgb(179, 161, 187);
    font-size: 20px;
    font-weight: bolder;
    margin-top: 20px;
    padding-bottom: 20px;
    }
    
    
    p{
    margin: 30px;
    }
  
  h4{
    font-size: 20px;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0.5em;
  }
  
  li {
    list-style: none;
  }
  
  .card,
  .btn-ref {
    cursor: pointer;
  }


  
 
  
  /*----------------------------------
  Header
  ------------------------------------*/
  
  h1 {
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
    margin-top: 1em;
  }
  
  
  p {
    font-size: 18px;
  }
  
  h3 {
    font-weight: 400;
  }
  
  /*----------------------------------
  Section - Score Panel
  ------------------------------------*/
  
  .score-panel {
    font-size: 30px;
    display: flex;
    margin: 2rem 2rem 1rem 2rem;
    align-items: center;
    justify-content:space-around;
    width: 40%;
  }
  
  .star-rating > li {
    display: inline-block;
    padding: 0.5em;
  }
  
  .reset-btn {
   z-index: 200;
   top: 40px;
   right: 40px;
     transition: transform 0.3s;
     cursor: pointer;
     width: 70%;
     font-weight: bolder;
   
  
  }
  
  .reset-btn:hover {
    transform: scale(1.08);
    color: rgb(87, 47, 47); 
      background-color: rgb(165, 117, 117, 0.7);
      transform: scale(1.08);
    
  }
  
  .timer-container {
    width: fit-content;
    border-radius: 0.5em;
    color:white;
    margin: 0.5em;
    padding: 0.5em 1em;
    border: 1px solid white;
    margin-top: 20px;
    text-align: right;
    background: rgba(31, 31, 31, 0.5);
  }
  .game-top {
    display: flex;
    align-items: center;
    position: fixed;
    font-size: 25px;
    height: 100%;
    left: 0;
    bottom: 0;
  }
  
  .timer-container {
    display: flex;
    align-items: center;
  }
  
  .timer {
    margin-left: 10px; /* Adjust the margin as needed */
  }
  
  
  
  /*----------------------------------
  Section - Modal
  ------------------------------------*/
 .modal-content-options button{
  font-size: 25px;
  padding: 20px;
  width: 200px;
 }
  
  /* Modal Details */
  #modal-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
    padding-top: 0px;
  }
  
  /* The Close Button */
  
  .close {
    align-self: flex-end;
   
    font-size: 5em;
  }
  
  .close:hover,
  .close:focus {
   
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Modal Image*/
  
  a {
    color: rgb(255, 216, 209);
    text-decoration: none;
  }
  
  .modal-img {
    display: inline-block;
    margin: 1em 0 1em;
    width: 20em;
  }
  
  p.stats {
    font-weight: 600;
  }
  
  p.stats:last-child {
    margin-bottom: 1em;
  }
  

  
  /*----------------------------------
  Deck of Cards
  ------------------------------------*/
  
  /*Mobile first responsivness*/
  
  .deck {
    background: linear-gradient(
      75deg,
      rgba(208, 179, 134, 0.5) 0%,
      rgba(44, 44, 92, 0.5) 60%,
      rgba(81, 115, 125, 0.5) 100%
    );
    border-radius: 1.5em;
    display: grid;
    align-items: center;
    justify-items: center;
    margin-top: 4em;
    margin-right: 30px;
    border: 1px solid white;
    color:rgba(81, 58, 120, 0.5)
  }
  
  .easy {
    grid-template-columns: 1fr 1fr;
  }
  
  .medium {
    grid-template-columns: repeat(4, 1fr);
    
  }
  
  .hard {
    grid-template-columns: repeat(4, 1fr);
  }
  
  .tilt {
    perspective: 10rem;
    box-shadow: 0px 0px 20px white;
    border-radius: 0.5em;
  }
  
  .card {
    border-radius: 0.5em;
    height: 7em;
    width: 7em;
    padding: 10px;
  }
  
  /*
  To disable the color highlight if and img is clicked
  https://stackoverflow.com/questions/21107439/disable-or-change-firefoxs-element-image-highlight-color
  */
  
  img {
    user-select: none;
    width: 4rem;
  }
  
  .deck img {
    visibility: hidden;
  }
  
  .deck .card.flip {
    /* background: #fff; */
    cursor: default;
    pointer-events: none;
  }
  
  .flip {
    transition: transform 0.3s linear;
  }
  
  .flip img {
    /* background: white; */
    visibility: visible;
    height: 100%;
  }
  
  .deck .card.match {
    /* background: #0aff99; */
    visibility: visible;
    cursor: default;
    animation: pulse 1s;
    animation-fill-mode: forwards;
  }
  
  
  @keyframes pulse {
    0% {
      transform: rotateX(0deg) rotateY(180deg) scale(1);
    }
    80% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @media screen and (min-width: 550px) {
    .deck {
      height: 50em;
      padding: 2em;
      width: 50em;
    }
    .card {
      height: 10em;
      width: 10em;
    }
    .deck img {
      width: 9em;
    }
    .modal-content h2 {
      font-size: 4em;
    }
    .play-again-btn {
      font-size: 1.8em;
    }
  }
  
  /*----------------------------------
  Desktops
  ------------------------------------*/
  
  @media screen and (min-width: 800px) {
    h1 {
      font-size: 6em;
    }
    p {
      font-size: 2.3em;
    }
    .deck {
      height: 70em;
      width: 70em;
    }
    .card {
      height: 15em;
      width: 15em;
    }
    .deck img {
      width: 13em;
    }
    .reset-btn {
      font-size: 0.8em;
    }
    .footer {
      font-size: 1.2em;
    }
    .modal-content h2 {
      font-size: 5em;
    }
    /* Modal Image*/
    .modal-img {
      width: 30em;
    }
    .play-again-btn {
      font-size: 2em;
    }
    .score-panel {
      flex-direction: row;
      width: 48rem;
      height: auto;
    }
    #easyGame:hover {
      /* width: 150px; */
      color: #96b093;
    
     
      background-color: white;
     
    }
    #mediumGame:hover {
      color: rgb(199, 199, 152);
      /* width: 160px; */
    
      background-color: white;
     
    }
    #hardGame:hover {
      /* width: 150px; */
      color: rgb(161, 89, 89);
   
     
      background-color: white;
      
    }
    #play-again:hover {
      color: rgb(89, 159, 161);
      background-color: white;

      
    }
  }

  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 999;
    }
    
    .modal-content {
    background: rgb(68, 68, 88, 0.9);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    
    margin: 90px auto 80px auto ;
    z-index: 50000;
    display: block;
    }

    .modal {
      
      background-color: rgba(46, 61, 73, 0.7);
    }
    
    
    .modal-content {
  
      position: fixed;

      margin-top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
     box-shadow: 0px 0px 20px white;
      padding: 50px;
      width: 80%;
    } 
    
    
    #inst-modal{
    max-width: 75%;
    height: 75%;
    }
    
    .inst-btn {
    position: fixed;
    bottom: 85px; /* 下端からの距離を調整 */
    left: 50%;
    transform: translateX(-50%);
    
    }
    
    .inst-button {
    font-size: 15px;
    }
    
    
    /* 各言語のスタイル */
    .language-instructions {
    flex: 1; /* Flexアイテムが均等に広がるように設定 */
    text-align: justify;
    margin: 10px;
    display: flex; /* Flexコンテナとして設定 */
    justify-content: space-between; /* コンテンツを均等に配置 */
    }
    
    .language-instructions p {
    width: 50%;
    margin-top: 6px;
    font-size: 15px;
    }

    .btn2{
     color: white;
     background: rgba(31, 31, 31, 0.5);
      display: inline-block;
      padding: 15px;
      font-weight: bolder;
      border: 1px solid #ddd;
      text-decoration: none;
      border-radius: 10px;
      margin: 10px;
      font-size: 15px;
      transition: transform 0.3s;
      cursor: pointer;
      }

      .btn4{
        color: white;
      
         display: inline-block;
         padding: 15px;
         border: 1px solid #ddd;
         text-decoration: none;
         border-radius: 10px;
         background: rgba(31, 31, 31, 0.5);
         margin: 10px;
         font-size: 15px;
         transition: transform 0.3s;
         cursor: pointer;
         }
      
      .btn2:hover{
      color: rgb(47, 56, 87); 
      background-color: rgba(126, 149, 159, 0.7);
      transform: scale(1.08);
      }
      
      .btn {
          display: inline-block;
          padding: 10px 15px;
          background: rgba(31, 31, 31, 0.5);
          border: 1px solid #ddd;
          color: white;
          text-decoration: none;
          border-radius: 5px;
          margin: 10px;
          font-size: 18px;
          transition: transform 0.3s;
          cursor: pointer;
          }
          
          .btn:hover, .back-to-top:hover {
          background-color:rgba(190, 193, 146, 0.6);
          transform: scale(1.1);
          }
      
      .modal-btn{
      display: inline-block;
      margin-bottom: 40px;
      font-size: 20px; 
      right: 40px;
      top:40px;
      position: fixed;
      margin-right: 5%;
      width: 320px;
      }
      
    
    .language-instructions ul {
    padding: 0;
    width: 50%;
    color: rgb(187, 202, 213);
    }
    
    .language-instructions li {
    margin:10px 10px 5px 40px;
    color: rgb(187, 202, 213);
    font-size: 15px;
    list-style:circle;
    }
    
    .modal-content h2{
    color: rgb(209, 212, 159);
    width: 100%;
    font-size: 25px;
    text-align: center;
    margin: 20px auto 20px auto;
    padding: 20px;
    border-bottom: 1px solid white;
    }
    
    
footer {

color: #fff;
padding: 10px;
text-align: right;
right: 0px;
padding-bottom: 30px;
position: fixed;
bottom: 0;
width: 20%;
height:40px;
width:100%;
}

.btn-top:hover{
transform: scale(1.1);
border:1px solid rgb(193, 193, 149); 
color: rgb(193, 193, 149); 

}

.loader-wrapper {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #000; /* ローディング画面の背景色 */
display: flex;
align-items: center;
justify-content: center;
z-index: 9999;
opacity: 1;
transition: opacity 5s ease; /* ローディング画面のフェードアウト用 */
}
  
  
  .btn-top{
display: inline-block; /* inline-blockに変更 */
position: fixed;
right: 40px;
top:40px;
background-color:rgba(255, 255, 255, 0);
border-radius: 5px;
padding: 10px;
border:1px solid white;
text-decoration: none;
color: white;
font-size: 18px;
transition: transform 0.3s;
cursor: pointer;
}
    