 body {
    background-image: url('moon-surface.jpeg'); /* 画像のパスに適切なものを指定 */
    background-size: cover;
    background-attachment: fixed; /* 画像を固定するためのプロパティ */
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    margin: 0; /* マージンを0に設定して、デフォルトのボディマージンを取り除く */
    overflow: hidden; /* スクロールバーを非表示にする */
}


        .question-box {
            width: 30%;
            padding: 30px;
            border-radius: 10px;
            display: inline-block;
            vertical-align: top;
             margin:30px;
        }

        .options input {
            margin-bottom: 5px;
            cursor:pointer;
           
        }
        
        label{
        font-weight:bolder;
        color:  rgba(155, 212, 215, 0.806);
       
        }

		.options{
		margin-left:25px;margin-top:10px;text-align:left;}
        
        .form-wrapper{
        margin:10px auto 10px auto;
        border:1px solid gray;
        width:75%;
        padding:20px;}
      
        .modal {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
     
        }
        .alien-modal-content {
            position: absolute;
            top: 50%;
            left: 50%;
            width:75%;
            transform: translate(-50%, -50%);
            padding: 20px;
            border: 1px solid white;
            border-radius: 10px;
              background: rgba(0, 0, 0, 0.6); /* 0.5 for 50% transparency */
        }
        
         
      .space-body {
      
        background-size: cover; /* Ensures the image covers the entire background */
        background-repeat: no-repeat; /* Prevents the image from repeating */
        background-position: center center; /* Centers the image */
        background-attachment: fixed; /* Fixes the background when scrolling */
        margin: 0; /* Remove default body margin */
        padding: 0; /* Remove default body padding */
      }
 
   
    .go-earth{
    top:70%;
    right:40px;
    width:100px; 
    position: fixed;
    height:70px;
    text-align: center; 
    border-radius: 50%;
    margin:0px auto 0px auto;
    padding-top: 15px;
    font-weight:bolder;
    }
    
    h6{
    
    top: 0px; 
    position: fixed;
    right:40px;
    transition:0.3s;
    z-index: 1000; 
    
    }
    
    h6:hover{
transform: scale(1.2);
color: rgb(193, 193, 149); 

}

h6 ion-icon{
 cursor: pointer; font-size:50px; padding:0px;
 }
 
 h6 ion-icon:hover{
	 cursor: pointer;
 }
        
.TextTyping {
  text-align: center;
  color: rgb(209, 212, 159);
  white-space: pre-line; 
	margin: 20px 0;
	font-size: 1.5rem;
	letter-spacing: .5em;
	word-break: break-all;
	line-height: 50px;
	font-size: 18px;
	font-weight:bolder;
}

/*文字列後ろの線の設定*/
.TextTyping::after {
    content: "★";
    animation: typinganime .8s ease infinite;
}

@keyframes typinganime {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.top-hover:hover{
border: 1px solid rgb(179, 161, 187);
color: rgb(179, 161, 187);
}

.radio-hover:hover{
border:none;
}